* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

strong {
  color: green;
}

.max-width-wrapper {
  width: 100%;
  background: white;
  border-bottom: 4px solid #666666;
  padding: 50px;
}

.intro-chunk {
  display: block;
  width: 30%;
  margin-left: 200px;
  margin-right: auto;
}

.intro-chunk > p {
  line-break: 4px;
}

.small-width-wrapper {
  background: #999999;
  height: 50vh;
  padding: 50px;
}

.card {
  width: 70%;
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.card > em {
  font-style: italics;
}

.card > p {
  width: 90%;
  padding: 10px;
  margin-left: 10px;
  margin-top: -10px;
}

.indented-heading {
  display: inline-block;
  margin-left: -10px;
  margin-top: 5px;
  top: 20px;
  background: #ffbf00;
  border-bottom: 4px solid #cc9900;
  width: 55%;
  padding: 15px;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .max-width-wrapper {
    padding: 0px;
  }

  .small-width-wrapper {
    padding: 10px;
  }

  .intro-chunk {
    margin-left: 50px;
    width: 60%;
    font-size: 1.1em;
  }

  .indented-heading {
    width: 90%;
  }
}
